@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #fb5353;
  --dark-color: #f6c62bdc;
  --light-color: #f4f4f4;
  --lose-color: #f6c62bdc;
  --win-color: #fb5353;
  --draw-color :#7acaf2dc;
  --modal-duration: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.restart-btn {
  display:center;
  background: var(--light-color);
  color: #030303;
  font-family: 'Roboto', sans-serif;
  padding: 0.4rem 1.3rem;
  font-weight:200;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.RPS-btn {
  display:center;
  background-color: #f39cfa;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  padding: 0.4rem 1.3rem;
  font-weight:400;
  font-size: 1.3rem;
  cursor:default;
  outline: none;
  border: none;
  letter-spacing:3px ;
  word-wrap :break-word;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

}

.restart-btn:hover {
  background-color: #7acaf2dc;
  color: #fff;
}

.header {
  text-align: center;
  margin: 1rem 0;
  color: #42cd63;
  
}

.header h1 {
  margin-bottom: 2rem;
}

.score {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: #fff;
}

.score p:first-child {
  background: var(--primary-color);
}

.score p:last-child {
  background: var(--dark-color);
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: #4b0df6dc;
}


.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

.text-draw {
  color: var(--draw-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.attribution {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  color: #dd22ea;
  margin-top: 285px;
  text-align:left; 
 }

.attribution a {
  color: #dd22ea;
 } 



@media (max-width: 700px) {
  .choice {
    font-size: 110px;
  }
}

@media (max-width: 500px) {
  .choice {
    font-size: 80px;
  }
}